*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    overflow: hidden;
    height: 100vh;
}

main.img__wrapper{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
}

main.img__wrapper img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    opacity: 0.5;
}

div.calculadora{
    display: grid;
    position: relative;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    background: linear-gradient(to right, #0f9b0f, #000000);
    padding: 2rem;
    width: 20rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.9);
    gap: 15px;
}

div.calculadora input[type="text"]{
    padding: 1rem ;
    border-radius: 15px;
    border: none;
    text-align: right;
    background-color: #BFE6BA;
}

div.botoes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button.botao{
    background-color: #BFE6BA;
    color: #000;
    font-weight: bolder;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.operador{
    background-color: #52c234;
}

button.operador:hover{
    background-color: #cbb4d4;
}

div.botoes button.botao:last-child{
    background-color: #cbb4d4;
}

button.botao:hover{
    background-color: #20002c;
    color: #eee;
}


button.botao.zero{
    grid-column: span 2;
}
